body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 90%),
    url("/images/mapa_fondo.jpg");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

* ::-webkit-scrollbar{
  width: 0.8em;
}

* ::-webkit-scrollbar-track{
  background-color: rgb(255, 229, 197) ;
  border-radius: 2em;

}

* ::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #503e28 ;
  border-radius: 2em;
}



.map-container {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.zoom-in {
  opacity: 0;
}

.zoom-out {
  opacity: 1;
  z-index: 1;
}

.spain-map-container {
  width: 100%;
  height: 100%;
}

.world-map-container {
  width: 100%;
  height: 100%;
}

.back-button {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  background: #503e28;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 7em;
  font-family: arial ;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.zona {
cursor: pointer;
}

/* Oscurece el fondo */
.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
  z-index: 10; /* Coloca el overlay detrás del diálogo */
}

/* Estilos para el diálogo */
.zone-dialog {
  width: 80%;
  max-width: 1200px;
  background: 
  radial-gradient(circle, rgba(255, 216, 169, 0.836)  70%, rgba(255,255,255,0) 100%),
  url("/images/fondo_dialog.avif");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  max-height: 80vh; 
  display: flex;
  flex-direction: column;
  height: 800px;
  color: #503e28 ;
}

.dialog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  height: 4em;
  width: 4em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
  border: none;
  transition: transform 0.3s ease;
  margin-right: 1em;
  font-size: 0.7em
}

.icon-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.icon-button input[type="file"] {
  display: none; 
}

.icon {
  font-size: 35px;
  vertical-align: middle;
}

.image-gallery {
  display:grid;
  grid-template-columns: repeat(3, 1fr); 
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  padding-right: 10px; 
  margin-top: 20px;
  flex-grow: 1; 
  max-height: 700px; 
}

.image-item {
  display: flex;
  height: 20em;
  width: 90%;
  border: rgb(80, 62, 40) 5px solid;
  background-color: #f3cd9f;
  border-radius: 2em;
}

.image-item img{
  cursor: pointer;
}



.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.image-modal {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.image-modal img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #CF2A2A;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.close-modal-button .icon {
  font-size: 24px;
}

.image-modal {
  cursor: default;
}

.file-upload {
  position: relative;
  display: inline-block;
}

.upload-button {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  width: 8em;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-left: 2em;
  font-weight: bold;
}

.upload-button .icon {
  font-size: 35px;
  color: #333;
}

.upload-button:hover {
  background-color: #ddd;
}

progress {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.delete-button .icon {
  color: red;
  font-size: 20px;
}

.delete-confirmation {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 90%;
  text-align: center;
  z-index: 1001;
}

.delete-confirmation h1 {
  margin-bottom: 20px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.icon-button:hover {
  opacity: 0.8;
}

.icon-button:focus {
  outline: none;
}
.overlay-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-pais{
  border: 2px solid #007BFF;
  padding: 30px;
  margin: 20px;
  border-radius: 15px;
  background-color: #e0f7fa;
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 100;
}

.Btn-animated {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn-animated:hover {
  width: 150px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.Btn-animated:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn-animated:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn-animated:active {
  transform: translate(2px, 2px);
}
.image-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 30em;
  border: rgb(80, 62, 40) 7px dashed;
  color: rgb(80, 62, 40) ;
  width: 100%;
  cursor: pointer;
}

.scrollable-text {
  max-height:12em; 
  overflow-y: auto;
  padding: 0.5em;
}

.separador{
  width: 5px;
  height: 5px;
  background-color: rgb(80, 62, 40) ;
  border: none;
}

.cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-image: 
    url("/images/mesa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.libro{
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50;
  right: 20;
}

.photography {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 1);
  width: 300px; 
  cursor: pointer;
}



.photography img {
  width: 80%;
  height: auto;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
}

.photography h1 {
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace; /* Para darle un toque más vintage */
  color: #333;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
}

.image-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  width: 25em;
  background-color: #fcfcfc ;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 1);
  border-radius: 3px;
}

